# Pseudo-RAPTOR appromixation

## Data Sets

In [13]:
import pandas as pd
import json

# Traditional Box-Scores
with open('./data/traditional.json') as f:
    traditional_json = json.load(f)

headers = traditional_json['resultSets'][0]['headers']
rows = traditional_json['resultSets'][0]['rowSet']

traditional_data = pd.DataFrame(rows, columns=headers)
traditional_data = traditional_data.drop(columns=['PLAYER_ID', 'TEAM_ID', 'NICKNAME'])
traditional_data = traditional_data.loc[:, ~traditional_data.columns.str.contains('RANK|FANTASY', case=False)]

traditional_data.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,...,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3,TEAM_COUNT
0,AJ Green,MIL,26,18,8,10,0.444,28.4,3.4,7.2,...,0.4,0.1,0.2,3.1,1.6,10.7,-0.6,0,0,1
1,AJ Johnson,WAS,20,8,0,8,0.000,4.7,0.3,1.4,...,0.0,0.0,0.5,0.4,0.4,0.9,-1.6,0,0,1
2,Aaron Gordon,DEN,30,13,10,3,0.769,28.3,6.3,11.8,...,0.8,0.2,0.4,1.8,3.4,18.8,12.7,2,0,1
3,Aaron Holiday,HOU,29,10,9,1,0.900,11.9,2.3,4.5,...,0.4,0.1,0.0,0.9,1.2,7.4,3.7,0,0,1
4,Aaron Nesmith,IND,26,11,1,10,0.091,30.4,4.9,13.4,...,0.8,0.3,0.9,2.5,3.5,15.5,-3.9,0,0,1

In [14]:
# Advanced Stats
with open('./data/advanced.json') as f:
    advanced_json = json.load(f)

headers = advanced_json['resultSets'][0]['headers']
rows = advanced_json['resultSets'][0]['rowSet']

advanced_data = pd.DataFrame(rows, columns=headers)
advanced_data = advanced_data.drop(columns=['PLAYER_ID', 'TEAM_ID', 'NICKNAME'])

advanced_data.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,...,E_PACE_RANK,PACE_RANK,sp_work_PACE_RANK,PIE_RANK,FGM_RANK,FGA_RANK,FGM_PG_RANK,FGA_PG_RANK,FG_PCT_RANK,TEAM_COUNT
0,AJ Green,MIL,26,15,8,7,0.533,28.2,119.5,121.2,...,223,288,288,357,150,156,199,206,187,1
1,AJ Johnson,WAS,20,8,0,8,0.000,4.7,106.6,110.3,...,392,405,405,452,424,387,453,425,455,1
2,Aaron Gordon,DEN,30,12,9,3,0.750,30.4,124.9,125.8,...,346,353,353,72,62,83,50,77,90,1
3,Aaron Holiday,HOU,29,8,8,0,1.000,9.7,120.5,119.0,...,411,357,357,68,302,332,299,333,51,1
4,Aaron Nesmith,IND,26,11,1,10,0.091,30.4,107.9,109.6,...,149,276,276,283,135,91,117,68,378,1

In [15]:
with open('./data/rapm.json') as f:
    rapm_json = json.load(f)

rapm_data = pd.DataFrame(rapm_json)

rapm_data.head()

,Pos2,drapm_darko,drapm_rank_darko,drapm_rank_timedecay,drapm_timedecay,five_year_drapm,five_year_drapm_rank,five_year_orapm,five_year_orapm_rank,five_year_rapm,...,three_year_orapm,three_year_orapm_rank,three_year_rapm,three_year_rapm_rank,two_year_drapm,two_year_drapm_rank,two_year_orapm,two_year_orapm_rank,two_year_rapm,two_year_rapm_rank
0,C,1.70,26.0,47.5,1.45,2.22,34.0,7.58,1.0,9.8,...,7.14,1.0,8.65,1.0,0.65,134.0,5.7,1.0,6.35,2.0
1,PG,0.88,92.0,25.5,1.86,1.23,80.0,5.56,2.0,6.79,...,5.47,2.0,7.85,2.0,2.11,21.0,4.89,2.0,7.01,1.0
2,PF,2.10,15.0,38.5,1.63,1.9,50.0,4.49,7.0,6.39,...,5.02,3.0,5.42,3.0,0.91,98.0,4.7,3.0,5.62,3.0
3,SF,0.33,179.0,36.0,1.66,1.31,77.0,3.66,10.0,4.97,...,2.41,13.0,3.72,16.0,1.37,58.0,1.23,53.0,2.6,38.0
4,SF,0.47,150.0,174.5,0.16,0.32,181.0,3.23,14.0,3.54,...,3.25,10.0,4.24,7.0,0.33,184.0,2.98,6.0,3.31,20.0

In [16]:
with open('./data/defense.json') as f:
    defense_json = json.load(f)

headers = defense_json['resultSets'][0]['headers']
rows = defense_json['resultSets'][0]['rowSet']

defense_data = pd.DataFrame(rows, columns=headers)
defense_data = defense_data.drop(columns=['PLAYER_ID', 'TEAM_ID', 'NICKNAME'])

defense_data.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,DEF_RATING,DREB,...,PCT_DREB_RANK,STL_RANK,PCT_STL_RANK,BLK_RANK,PCT_BLK_RANK,OPP_PTS_OFF_TOV_RANK,OPP_PTS_2ND_CHANCE_RANK,OPP_PTS_FB_RANK,OPP_PTS_PAINT_RANK,DEF_WS_RANK
0,AJ Green,MIL,26,18,8,10,0.444,28.4,117.9,2.6,...,341,318,399,375,380,371,301,303,367,249
1,AJ Johnson,WAS,20,8,0,8,0.000,4.7,126.9,0.4,...,389,426,426,382,382,69,65,37,38,443
2,Aaron Gordon,DEN,30,13,10,3,0.769,28.3,105.0,4.5,...,208,191,252,255,294,205,243,259,362,22
3,Aaron Holiday,HOU,29,10,9,1,0.900,11.9,101.2,0.5,...,454,285,235,350,318,57,199,87,103,163
4,Aaron Nesmith,IND,26,11,1,10,0.091,30.4,116.6,2.9,...,320,173,198,225,258,379,341,409,424,204

In [17]:
from unidecode import unidecode

def normalise_name(name):
    return unidecode(name).strip().lower()

traditional_data['PLAYER_NAME'] = traditional_data['PLAYER_NAME'].apply(normalise_name)
advanced_data['PLAYER_NAME'] = advanced_data['PLAYER_NAME'].apply(normalise_name)
defense_data['PLAYER_NAME'] = defense_data['PLAYER_NAME'].apply(normalise_name)
rapm_data['player_name'] = rapm_data['player_name'].apply(normalise_name)

print('Traditional:', 'nikola jokic' in traditional_data['PLAYER_NAME'].values)
print('Advanced:', 'nikola jokic' in advanced_data['PLAYER_NAME'].values)
print('Defense:', 'nikola jokic' in defense_data['PLAYER_NAME'].values)
print('RAPM:', 'nikola jokic' in rapm_data['player_name'].values)

Traditional: True
Advanced: True
Defense: True
RAPM: True

In [18]:
merged_data = pd.merge(traditional_data, advanced_data, on='PLAYER_NAME', how='inner')
merged_data = pd.merge(merged_data, defense_data, on='PLAYER_NAME', how='inner')
merged_data = pd.merge(merged_data, rapm_data, left_on='PLAYER_NAME', right_on='player_name', how='inner')
merged_data = merged_data.drop(columns=['player_name'])

merged_data.head()

,PLAYER_NAME,TEAM_ABBREVIATION_x,AGE_x,GP_x,W_x,L_x,W_PCT_x,MIN_x,FGM_x,FGA_x,...,three_year_orapm,three_year_orapm_rank,three_year_rapm,three_year_rapm_rank,two_year_drapm,two_year_drapm_rank,two_year_orapm,two_year_orapm_rank,two_year_rapm,two_year_rapm_rank
0,aj johnson,WAS,20,8,0,8,0.000,4.7,0.3,1.4,...,-1.69,542.0,-3.32,594.0,-1.28,565.0,-1.51,538.0,-2.8,588.0
1,aaron gordon,DEN,30,13,10,3,0.769,28.3,6.3,11.8,...,-0.84,380.0,1.49,94.0,1.89,27.0,0.35,143.0,2.24,48.0
2,aaron holiday,HOU,29,10,9,1,0.900,11.9,2.3,4.5,...,-0.47,301.0,0.96,117.0,0.96,93.0,-0.64,396.0,0.33,166.0
3,aaron nesmith,IND,26,11,1,10,0.091,30.4,4.9,13.4,...,2.04,32.0,2.27,56.0,1.2,69.0,2.37,17.0,3.57,14.0
4,aaron wiggins,OKC,26,9,8,1,0.889,27.6,5.7,12.3,...,2.34,18.0,2.39,49.0,0.33,184.0,2.73,10.0,3.05,25.0

## Model

In [19]:
merged_data['RAPTOR_RATING'] = merged_data['rapm_darko']

merged_data[['PLAYER_NAME', 'RAPTOR_RATING']].sort_values(by='RAPTOR_RATING', ascending=False).head()

                 PLAYER_NAME  RAPTOR_RATING
335             nikola jokic           7.09
393  shai gilgeous-alexander           6.68
143    giannis antetokounmpo           6.38
294              luka doncic           5.50
254            kawhi leonard           4.89

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np

# Offense
merged_data['PTS_PER_MIN'] = merged_data['PTS'] / merged_data['MIN']
merged_data['AST_PER_MIN'] = merged_data['AST'] / merged_data['MIN']
merged_data['REB_PER_MIN'] = merged_data['REB'] / merged_data['MIN']

# Efficiency
merged_data['PTS_TS'] = merged_data['PTS'] * merged_data['TS_PCT']
merged_data['AST_TO_USG'] = merged_data['AST_TO'] * merged_data['USG_PCT']

# Defense
merged_data['DEF_PLAYMAKING'] = merged_data['PCT_STL'] + merged_data['PCT_BLK']

# Interaction
merged_data['PTS_AST'] = merged_data['PTS'] * merged_data['AST']
merged_data['REB_AST'] = merged_data['REB'] * merged_data['AST']

features = merged_data[[
    'PTS', 'AST', 'REB', 'TS_PCT', 'AST_TO', 'USG_PCT', 'FG3_PCT', 'FT_PCT',
    'PCT_STL', 'PCT_BLK', 'PCT_DREB', 'rapm_timedecay', 'orapm_timedecay', 'drapm_timedecay',
    'PTS_PER_MIN', 'AST_PER_MIN', 'REB_PER_MIN', 'PTS_TS', 'AST_TO_USG', 'DEF_PLAYMAKING', 'PTS_AST', 'REB_AST'
]]
target = merged_data['RAPTOR_RATING']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(RandomForestRegressor(random_state=42), param_grid, cv=3, scoring='r2')
grid_search.fit(X_train_scaled, y_train)

model = grid_search.best_estimator_

print("Best Parameters:", grid_search.best_params_)
print("Model R^2 Score:", model.score(X_test_scaled, y_test))

Best Parameters: {'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 300}
Model R^2 Score: 0.7652508406790671

In [22]:
predicted_ratings = model.predict(X_test)

X_test['PREDICTED_RAPTOR_RATING'] = predicted_ratings
X_test['ACTUAL_RAPTOR_RATING'] = y_test.values

X_test.head()

/Users/bryanlee/Documents/Projects/bronny-james-basketball-iq/.venv/lib/python3.13/site-packages/sklearn/utils/validation.py:2742: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

,PTS,AST,REB,TS_PCT,AST_TO,USG_PCT,FG3_PCT,FT_PCT,PCT_STL,PCT_BLK,...,PTS_PER_MIN,AST_PER_MIN,REB_PER_MIN,PTS_TS,AST_TO_USG,DEF_PLAYMAKING,PTS_AST,REB_AST,PREDICTED_RAPTOR_RATING,ACTUAL_RAPTOR_RATING
352,0.6,0.3,0.6,0.410,0.00,0.128,0.000,1.000,0.000,0.000,...,0.214286,0.107143,0.214286,0.2460,0.00000,0.000,0.18,0.18,-1.591497,-2.49
39,2.8,0.7,2.7,0.381,0.80,0.190,0.273,0.000,0.125,0.000,...,0.318182,0.079545,0.306818,1.0668,0.15200,0.125,1.96,1.89,-1.525405,-2.41
361,10.2,3.6,2.9,0.637,2.26,0.169,0.350,0.766,0.143,0.105,...,0.437768,0.154506,0.124464,6.4974,0.38194,0.248,36.72,10.44,-1.463713,-0.75
358,13.3,3.7,4.7,0.373,3.00,0.265,0.313,0.688,0.300,0.375,...,0.604545,0.168182,0.213636,4.9609,0.79500,0.675,49.21,17.39,3.884184,1.41
154,0.8,0.3,0.3,1.000,0.50,0.158,0.000,0.500,0.000,0.000,...,0.421053,0.157895,0.157895,0.8000,0.07900,0.000,0.24,0.09,-0.965345,-2.16

In [23]:
player_names = merged_data['PLAYER_NAME']
for name in player_names:
    if name == 'nikola jokic':
        print('yes')
        break

yes

In [24]:
X_train, X_test, y_train, y_test, train_names, test_names = train_test_split(
    features,
    target,
    player_names,
    test_size=0.2,
    random_state=42
)

X_test = X_test.copy()
X_test['PLAYER_NAME'] = test_names.values

X_test['PREDICTED_RAPTOR_RATING'] = predicted_ratings
X_test['ACTUAL_RAPTOR_RATING'] = y_test.values

X_test['RANK'] = X_test['ACTUAL_RAPTOR_RATING'].rank(ascending=False).astype(int)

X_test = X_test.sort_values(by='RANK')

raptor_ratings_df = X_test[['RANK', 'PLAYER_NAME', 'PREDICTED_RAPTOR_RATING', 'ACTUAL_RAPTOR_RATING']]

raptor_ratings_df

     RANK       PLAYER_NAME  PREDICTED_RAPTOR_RATING  ACTUAL_RAPTOR_RATING
294     1       luka doncic                 4.753736                  5.50
117     2  donovan mitchell                 4.743057                  4.45
22      3   anthony edwards                 2.430532                  4.20
192     4      james harden                 3.560261                  3.55
399     5     stephen curry                 4.694409                  3.26
..    ...               ...                      ...                   ...
78     87     cody williams                -1.646437                 -3.26
384    88     ryan nembhard                -1.696122                 -3.44
0      89        aj johnson                -1.791433                 -3.48
137    90        gg jackson                -1.575818                 -3.84
210    91        jeff green                -1.542347                 -4.36

[91 rows x 4 columns]